*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.main{
    width: 100%;
    height: 100%;
}

.wrap{
    width: 100%;
    height: 100%;
    max-width: 1160px;
    margin:0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ======== 第一栏 - 标题栏 ======== */
.top{
    width: 100%;
    height: 60px;
    #background-color: pink;
    margin-top: 20px;
}

.top div {
  float: left;
}

/* 头像与用户 */
.user-home {
  width: 200px;
  height: 60px;
  #background-color: grey;
  text-align: center;
}

.user-home-text {
  font-size: 20px;
  color: white;
  line-height: 60px;
}

.user-home a {
  font-size: 20px;
  color: white;
  #background-color: red;
  position: relative;
  top: 15px;
}

.user-home img{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-left: 20px;
}

/* 显示标题头 */
.show-header {
  width: 100px;
  height: 60px;
  #background-color: red;
  text-align: center;
  position: relative;
  left: 100px;
}

.show-header span {
  #background-color: grey;
  font-size: 20px;
  position: relative;
  color: white;
  top: 15px;
}

/* wifi 信号 */
.wifi {
  width: 60px;
  height: 60px;
  #background-color: grey;
  position: relative;
  left: 180px;
  top: 10px;
}

/* 显示日期 */
.show-date {
  width: 200px;
  height: 60px;
  #background-color: grey;
  position: relative;
  left: 200px;
}

#date{
  color: white;
}

#lunar{
  color: white;
}

.show-time {
  width: 100px;
  height: 100%;
  #background-color: grey;
  position: relative;
  left: 170px;
  top: -8px;
}

.show-time span {
  font-size: 50px;
  color: white;
  width: 100%;
  height: 100%;
}

.weather {
  width: 200px;
  height: 60px;
  #background-color: red;
  text-align: center;
  position: relative;
  left: 225px;
}

#wendu {
  font-size: 20px;
}

#tianqi {
  font-size: 15px;
}

#city {
  font-size: 15px;
}

.weather span {
  #font-size: 15px;
  color: white;
}

.weather_img {
  width: 60px;
  height: 60px;
  position: relative;
  left: 180px;
  #background-color: grey;
}

.weather_img img {
  width: 100%;
  height: 100%;
}
/* ====END 第一栏 - 标题栏 END==== */



/* ======== 第二栏 - 菜单栏 ======== */
.header{
  clear: both;
  width: 100%;
  height: 40px;
  #background-color: grey;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header div {
  float: left;
  padding-left: 20px;
}

.header div img {
  width: 170px;
}

.hide {
  display: none;
}
/* ====END 第二栏 -  菜单栏 END==== */


.first{
    width: 25%;
    height: 420px;
    float: left;
}

.first-one {
  width: 100%;
  height: 205px;
}

.first-two{
    width: 100%;
    height: 205px;
    margin-top: 10px;
}

.second{
    width: 25%;
    float: left;
}

.second-one{
    width: 100%;
    height: 205px;
}

.second-two{
    width: 100%;
    height: 205px;
    margin-top: 10px;
}

.third{
    width: 25%;
    float: left;
}

.third-one{
    width: 100%;
    height: 205px;
}

.third-two{
    width: 100%;
    height: 205px;
    margin-top: 10px;
}

.fourth{
    width: 25%;
    height: 450px;
    float: right;
    #background-color: grey;
}

.fourth img {
  width: 100%;
}

.fourth-one{
    width: 100%;
    height: 205px;
    #background-color: grey;
}

.fourth-two{
    width: 100%;
    height: 205px;
    margin-top: 10px;
    #background-color: grey;
}

/* ======== 智能控制页面 - Card ======== */
.smart-control-content {
    width: 100%;
}

.home-monitor img {
  width: 100%;
  height: 550px;
}

/* ======== 管理入口页面 - Card ======== */
.manage-entry-content {
    width: 100%;
}

/* ======== 设置向导页面 - Card ======== */
.set-guide-content {
    width: 100%;
}

.voice-setup img{
  height: 100%;
}

.other-setup img {
  height: 334px;
}

#manage-entry-free-group img {
  height: 550px;
}

/* ======== 其他页面 - Card ======== */
.other-content {
    width: 100%;
}

.other-content-about-us img {
  height: 550px;
}

/* ======== 独立控制页面 - Page ======== */
.left-side {
  background-image: url('/static/img/left_side_background.png');
  background-size: 100% 100%;
  float: left;
  width: 15%;
  height: 500px;
  overflow: auto;
}

.left-side-buttom-one {
  clear: both;
  width: 80%;
  height: 60px;
  margin-left: 16px;
  margin-top: 10px;
  background-image: url('/static/img/left_side_bar_blue.png');
  background-size: cover;
}

.left-side-text-label-one {
  color: white;
  font-size: 20px;
  position: relative;
  left: 40px;
  top: 15px;
}

.left-side-text-label {
  color: white;
  font-size: 20px;
  position: relative;
  left: 30px;
  top: 15px;
}

.left-side-buttom {
  clear: both;
  width: 80%;
  height: 60px;
  margin-left: 16px;
  margin-top: 10px;
  background-image: url('/static/img/left_side_bar_blue.png');
  background-size: cover;
}

.left-side-buttom-one-on {
  clear: both;
  width: 80%;
  height: 60px;
  margin-left: 16px;
  margin-top: 10px;
  background-image: url('/static/img/left_side_bar_green.png');
  background-size: cover;
}

.left-side-buttom-two {
  clear: both;
  width: 80%;
  height: 60px;
  margin-left: 16px;
  margin-top: 10px;
  background-image: url('/static/img/left_side_bar_blue.png');
  background-size: cover;
}

.left-side-buttom-two-on {
  clear: both;
  width: 80%;
  height: 60px;
  margin-left: 16px;
  margin-top: 10px;
  background-image: url('/static/img/left_side_bar_green.png');
  background-size: cover;
}

.left-side-buttom-three {
  clear: both;
  width: 80%;
  height: 60px;
  margin-left: 16px;
  margin-top: 10px;
  background-image: url('/static/img/left_side_bar_blue.png');
  background-size: cover;
}

.left-side-buttom-three-on {
  clear: both;
  width: 80%;
  height: 60px;
  margin-left: 16px;
  margin-top: 10px;
  background-image: url('/static/img/left_side_bar_green.png');
  background-size: cover;
}

.buttom-text {
  clear: both;
  position: relative;
  width: 80%;
  height: 60px;
  color: white;
  font-size: 20px;
  text-align: center;
  #margin-left: 16px;
  margin-top: 10px;
  #top: -210px;
  left: 16px;
  #background-color: grey;
}

.buttom-text p {
  line-height: 60px;
}

#independant-left-my-device-text {
  clear: both;
  position: relative;
  width: 80%;
  height: 60px;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-left: 16px;
  margin-top: 10px;
  top: -140px;
}

#independant-left-my-device-text p {
  position: relative;
  top: 15px;
}

#independant-left-exec-log-text {
  clear: both;
  position: relative;
  width: 80%;
  height: 60px;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-left: 16px;
  margin-top: 10px;
  top: -140px;
}

#independant-left-exec-log-text p {
  position: relative;
  top: 15px;
}

.exec-log-text {
  clear: both;
  color: white;
  position: relative;
  display: inline-block;
  top: -45px;
  left: -20px;
  z-index: 10;
}

.exec-log-text {
  clear: both;
  color: white;
  position: relative;
  display: inline-block;
  top: -45px;
  left: -20px;
  z-index: 10;
}

.register-off-text {
  clear: both;
  color: white;
  position: relative;
  display: inline-block;
  top: -45px;
  left: -20px;
  z-index: 10;
}

.my-device {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.my-device-on {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.device-list {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.device-list-on {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.device-list-text {

}

.exec-log {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.exec-log-on {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}


.register-off {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.register-off-on {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.right-side {
  width: 84%;
  height: 500px;
  #border: 1px solid red;
  background-image: url('/static/img/right_side_background.png');
  background-size: 100% 100%;
  float: right;
}

.up {
  clear:both;
  width: 100%;
  height: calc(50% - 3px);
  #background-color: pink;
}

.open-window-machine {
  width: 33%;
  height: 100%;
  float: left;
}

.up-first {
  width: 33%;
  height: 100%;
  float: left;
}

.up-first img {
  width: 100%;
  height: 100%;
}

.open-window-machine img {
  width: 100%;
  height: 100%;
}

.curtain {
  width: 33%;
  height: 100%;
  float: left;
  margin-left: 5px;
  #background-color: blue;
}

.curtain img {
  width: 100%;
  height: 100%;
}

.up-second {
  width: 33%;
  height: 100%;
  float: left;
  margin-left: 5px;
  #background-color: blue;
}

.up-second img {
  width: 100%;
  height: 100%;
}

.touch-switch {
  width: 33%;
  height: 100%;
  float: right;
  #background-color: blue;
}

.touch-switch img {
  width: 100%;
  height: 100%;
}

.up-third {
  width: 33%;
  height: 100%;
  float: right;
}

.up-third img {
  width: 100%;
  height: 100%;
}

.down {
  width: 100%;
  height: calc(50% - 3px);
  margin-top: 6px;
  #background-color: pink;
}

.air-box {
  width: 33%;
  height: 100%;
  float: left;
  #background-color: blue;
}

.air-box img {
  width: 100%;
  height: 100%;
}

.down-first {
  width: 33%;
  height: 100%;
  float: left;
}

.down-first img {
  width: 100%;
  height: 100%;
}

.smart-plug {
  width: 33%;
  height: 100%;
  float: left;
  margin-left: 5px;
  #background-color: blue;
}

.smart-plug img {
  width: 100%;
  height: 100%;
}

.down-second {
  width: 33%;
  height: 100%;
  float: left;
  margin-left: 5px;
}

.down-second img {
  width: 100%;
  height: 100%;
}

.dimming-lamp {
  width: 33%;
  height: 100%;
  float: right;
  #background-color: blue;
}

.dimming-lamp img {
  width: 100%;
  height: 100%;
}

.down-third {
  width: 33%;
  height: 100%;
  float: right;
}

.down-third img {
  width: 100%;
  height: 100%;
}

.buttom {
  width: 84%;
  height: 60px;
  margin-top: 10px;
  float: right;
}

/* 触控开关-页面 开始*/
.switch-board {
  width: 50%;
  height: 90%;
  float: left;
  #background-color: pink;
}

.one-key-switch {
  width: 100%;
  height: 70px;
  #background-color: grey;
  margin-top: 40px;
}

.switch-panel {
  width: 60px;
  height: 100%;
  margin-left: 30px;
  float: left;
  margin-top: 3px;
}

.one-key-panel {
  width: 100px;
  height: 60px;
  #background-color: orange;
  position: relative;
  float: left;
  top: 5px;
  margin-left: 30px;
}

.switch-bar p{
  width: 100%;
  height: 30%;
  color: white;
  #background-color: red;
  font-size: 15px;
  text-align: center;
}

.switch-bar img{
  width: 100%;
  height: 35px;
  position: relative;
  top: 1px;
}

.one-key-switch-on {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: green;
  position: relative;
  z-index: 15;
  top: -33px;
  left: 3px;
}

.one-key-switch-off {
  #clear:both;
  width: 35px;
  height: 35px;
  #background-color: red;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 63px;
}

.two-key-switch {
  width: 100%;
  height: 70px;
  #background-color: grey;
  margin-top: 40px;
}

.two-key-panel {
  width: 100px;
  height: 60px;
  #background-color: orange;
  position: relative;
  float: left;
  margin-left: 30px;
  top: 5px;
}

.two-key-one-switch-on {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: green;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 3px;
}

.two-key-one-switch-off {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: red;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 63px;
}

.two-key-two-switch-on {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: green;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 3px;
}

.two-key-two-switch-off {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: red;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 63px;
}


.three-key-switch {
  width: 100%;
  height: 70px;
  #background-color: grey;
  margin-top: 40px;
}

.three-key-switch {
  width: 100%;
  height: 70px;
  #background-color: blue;
  margin-top: 40px;
  clear: both;
}


.three-key-panel {
  width: 100px;
  height: 60px;
  #background-color: orange;
  position: relative;
  float: left;
  margin-left: 30px;
  top: 5px;
}

.three-key-one-switch-on {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: green;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 3px;
}

.three-key-one-switch-off {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: red;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 63px;
}

.three-key-two-switch-on {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: green;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 3px;
}

.three-key-two-switch-off {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: red;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 63px;
}

.three-key-three-switch-on {
  clear: both;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 3px;
}

.three-key-three-switch-off {
  clear: both;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 10;
  top: -33px;
  left: 63px;
}

.video {
  float: right;
  height: 85%;
  width: 49%;
  border-radius: 5%;
  margin-top: 10px;
  margin-right: 4px;
  text-align: center;
  #background-color: #004A80;
}

.video img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

#video-touch-switch-background-img {
  width: 90%;
  height: 100%;
}

#video-one-key-switch {
  #background-color: red;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 370px;
  left: 930px;
}


#video-two-key-one-switch {
  #background-color: red;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 380px;
  left: 890px;
}

#video-two-key-two-switch {
  #background-color: green;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 380px;
  left: 980px;
}

#video-three-key-one-switch {
  #background-color: red;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 380px;
  left: 855px;
}

#video-three-key-two-switch {
  #background-color: green;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 380px;
  left: 935px;
}

#video-three-key-three-switch {
  #background-color: green;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 380px;
  left: 1015px;
}

.video-text {
  color: white;
  text-align: center;
  font-size: 15px;
}

.apply {
  width: calc(50% - 3px);
  height: 100%;
  float: left;
  #background-color: pink;
  background-image: url('/static/img/buttom_img.png');
  background-size: cover;
}

.apply p {
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}

.back {
  width: calc(50% - 3px);
  height: 100%;
  float: right;
  background-image: url('/static/img/buttom_img.png');
  background-size: cover;
}

.back p {
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}

/*  end */


/* 智能插座开始 */
.smart-plug-bar {
  width: 100%;
  height: 70px;
  #background-color: grey;
  margin-top: 30px;
}

.smart-plug-img {
  width: 80px;
  height: 60px;
  #background-color: blue;
  float: left;
  position: relative;
  top: 15px;
  left: 15px;
}

.smart-plug-toggle {
  width: 100px;
  height: 40px;
  float: left;
  #background-color: orange;
  position: relative;
  top: 20px;
  left:40px;
}

.smart-plug-on {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: green;
  position: relative;
  top: -37px;
  left: 125px;
}

.smart-plug-off {
  clear: both;
  width: 35px;
  height: 35px;
  #background-color: red;
  position: relative;
  top: -38px;
  left: 181px;
}


/* 智能插座结束  */


/* 智能窗帘开始 */
.curtain-first-line {
  width: 100%;
  height: 60px;
  #background-color: grey;
  margin-top: 15px;
}

.curtain-second-line {
  width: 100%;
  height: 60px;
  #background-color: grey;
  margin-top: 15px;
}

.curtain-third-line {
  width: 100%;
  height: 60px;
  #background-color: grey;
  margin-top: 15px;
}

.curtain-forth-line {
  width: 100%;
  height: 60px;
  #background-color: grey;
  margin-top: 15px;
}

.curtain-all_open {
  width: 50%;
  height: 100%;
  float: left;
  #background-color: orange;
}

.curtain-all_open p {
  color: white;
  float: left;
  font-size: 20px;
  position: relative;
  top: 15px;
  left: 25px;
}

.curtain-all_open img {
  #background-color: red;
  position: relative;
  float: right;
  left: -60px;
}

.curtain-all_close {
  width: 50%;
  height: 100%;
  float: right;
  #background-color: orange;
}

.curtain-all_close p {
  color: white;
  float: left;
  font-size: 20px;
  position: relative;
  top: 15px;
  left: 25px;
}

.curtain-all_close img {
  #background-color: red;
  position: relative;
  float: right;
  left: -60px;
}

.curtain-stop {
  width: 50%;
  height: 100%;
  float: left;
  #background-color: orange;
}

.curtain-reverse {
  width: 50%;
  height: 100%;
  float: right;
  #background-color: orange;
}

.curtain-stop  p {
  color: white;
  float: left;
  font-size: 20px;
  position: relative;
  top: 15px;
  left: 25px;
}

.curtain-stop  img {
  #background-color: red;
  position: relative;
  float: right;
  left: -60px;
}

.curtain-reverse  p {
  color: white;
  float: left;
  font-size: 20px;
  position: relative;
  top: 15px;
  left: 25px;
}

.curtain-reverse  img {
  #background-color: red;
  position: relative;
  float: right;
  left: -60px;
}

.curtain-check {
  width: 50%;
  height: 100%;
  float: left;
  #background-color: orange;
}

.curtain-check  p {
  color: white;
  float: left;
  font-size: 20px;
  position: relative;
  top: 15px;
  left: 25px;
}

.curtain-check  img {
  #background-color: red;
  position: relative;
  float: right;
  left: -60px;
}

.crutain-free-group {
  width: 100%;
  height: 100%;
  #background-color: red;
  float: left;
}

.crutain-free-group p {
  color: white;
  float: left;
  font-size: 20px;
  position: relative;
  top: 15px;
  left: 25px;
}

.crutain-free-group  img {
  #background-color: red;
  position: relative;
  float: left;
  top: 10px;
  left: 75px;
}

.curtain-free-toggle {
  position: relative;
  width: 300px;
  height: 60px;
  left: 118px;
  top: 0px;
  #background-color: red;
}

.curtain-free-toggle input[type=range]{
  -webkit-appearance: none;
  width: 300px;
  height: 35px;
  background: transparent;
  outline: none;
  position: relative;
  top: -17px;
  left: 0px;
}

.curtain-free-toggle input[type=range]::-moz-range-thumb {
  height: 33px;
  width: 33px;
  border-radius: 100%;
  border-color: black;
  #background: black;
  cursor: pointer;
  background-image: url('/static/img/switch_key.png');
}

.curtain-free-toggle input[type=range]::-moz-range-track {
  width: 100%;
  height: 40px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-image: url('/static/img/process_bar.png');
}

#curtain-toggle-bar-value {
  color: white;
  position: relative;
  top: -40px;
  left: 120px;
  -webkit-user-select:none;
  user-select:none;
  z-index: -10px;
}

/*
input[type=range] {
  -webkit-appearance: none;
  width: 300px;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-thumb {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border-color: black;
  background: black;
  cursor: pointer;
  background-image: url('/static/img/switch_key.png');
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 38px;
  cursor: pointer;
  background-image: url('/static/img/process_bar.png');
}
*/


/* 智能窗帘结束 */


/* 空气盒子开始 */
.air-box-line {
  #background-color: grey;
  width: 100%;
  height: 37px;
  margin-top: 20px;
}

.air-box-line p{
  #background-color: red;
  float: left;
  color: white;
  font-size: 20px;
  position: relative;
  top: 3px;
  left: 15px;
}

.air-box-line input[type=range]{
  -webkit-appearance: none;
  width: 300px;
  height: 35px;
  background: transparent;
  position: relative;
  float: right;
  top: 0px;
  left: -80px;
  outline: none;
}

.air-box-line input[type=range]::-moz-range-thumb {
  height: 33px;
  width: 33px;
  border-radius: 100%;
  border-color: black;
  background: black;
  cursor: pointer;
  background-image: url('/static/img/switch_key.png');
}

.air-box-line input[type=range]::-moz-range-track {
  width: 100%;
  height: 37px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-image: url('/static/img/process_bar.png');
}

.xiabiao {
  font-size: 12px;
}

#air-box-radar-chart {
  width: 100%;
  height: 100%;
  #background-color: grey;
}

/* 空气盒子结束 */




/* 智能控制 -> 情景控制 开始 */
#scene-control-my-scene-child-text {
  position: relative;
  top: -70px;
}


/* 智能控制 -> 情景控制 结束 */



.device-manage-card {
    width: 100%;
    height: 205px;
}

table {
  width: 90%;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  text-align: center;
  margin-left: 40px;
  margin-top: 20px;
  color: white;
}

table, th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: white;
}

table,td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: white;
  border-spacing: 10px;
}

select {
  background-color:transparent;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color: white;
  background-image: none !important;
  filter: none !important;
  border: none;
  outline: none;
  height: 25px !important;
  line-height: 25px;
}

.button-register {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 10%;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.button-off {
  background-color: #f44336; /* Red */
  border: none;
  border-radius: 10%;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.register-off-page p {
  color: white;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: -10px;
}



.open-window-forth-line {
  width: 100%;
  height: 60px;
  #background-color: grey;
  margin-top: 15px;
}

.open-window-free-group {
  width: 100%;
  height: 100%;
  float: left;
}

.open-window-free-group p {
  color: white;
  float: left;
  font-size: 20px;
  position: relative;
  top: 15px;
  left: 25px;
}

.open-window-free-group  img {
  position: relative;
  float: left;
  top: 10px;
  left: 75px;
}

.open-window-free-toggle {
  position: relative;
  width: 300px;
  height: 60px;
  left: 118px;
  top: 0px;
}

.open-window-free-toggle input[type=range]{
  -webkit-appearance: none;
  width: 300px;
  height: 35px;
  background: transparent;
  outline: none;
  position: relative;
  top: -17px;
  left: 0px;
}

.open-window-free-toggle input[type=range]::-moz-range-thumb {
  height: 33px;
  width: 33px;
  border-radius: 100%;
  border-color: black;
  #background: black;
  cursor: pointer;
  background-image: url('/static/img/switch_key.png');
}

.open-window-free-toggle input[type=range]::-moz-range-track {
  width: 100%;
  height: 40px;
  cursor: pointer;
  outline: none;
  background-image: url('/static/img/process_bar.png');
  background-color: transparent;
}


#open-window-left-side-text {

}

#open-window-exec-log-text {

}



#smart-plug-exec-log-text {
  clear: both;
  position: fixed;
  width: 80%;
  height: 60px;
  color: white;
  font-size: 20px;
  top: 275px;
  left: 113px;
}

#smart-plug-img {
  width: 90%;
  height: 100%;
}


#smart-plug-toggle {
	width: 50px;
	height: 50px;
	/* background-color: black; */
	position: absolute;
	top: 290px;
	left: 1060px;
	border: 1px solid white;
	border-radius: 100%;
}



#dimming-lamp-left-side-text {

}

#dimming-lamp-exec-log-text {
  clear: both;
  position: fixed;
  width: 80%;
  height: 60px;
  color: white;
  font-size: 20px;
  top: 275px;
  left: 113px;
}

#open-window-toggle-bar-value {
  color: white;
  position: relative;
  top: -49px;
  left: 4px;
  -webkit-user-select:none;
  user-select:none;
  z-index: -10px;
}


/* 家庭管理样式开始 */

#home-manage-my-scene-text {
  top: -210px;
}

#home-manage-home-mamber-text {
  top: -210px;
}

#home-manage-home-list-text {
  top: -210px;
}

.home-manage-home-name {
  width: 50%;
  height: 60px;
  #background-color: grey;
  margin-left: 20px;
  margin-top: 30px;
}


.home-manage-home-address {
  width: 50%;
  height: 60px;
  #background-color: grey;
  margin-left: 20px;
  margin-top: -10px;
}

.home-manage-home-background {
  width: 50%;
  height: 120px;
  #background-color: grey;
  margin-left: 20px;
  position: relative;
  top: -25px;
}

.home-manage-home-info-label {
  color: white;
  font-size: 20px;
}

#home-manage-user-home-name {

}

.home-manage-home-info-input {
  -webkit-appearance: none;
  appearance: none;
  border:none;
  width: 80%;
  height: 20px;
  background: none;
  box-shadow: none;
  outline: none;
  color: white;
  font-size: 20px;
  margin-left: 5px;
}

#home-manage-home-background-img {
  width: 100px;
  height: 80px;
  #background-color: orange;
  border: 2px solid black;
  margin-left: 5px;
  position: relative;
  top: 25px;
}

#home-manage-home-member div {
  display: inline-block;
}

.home-member-text {
  clear: both;
  position: absolute;
  color: white;
  font-size: 25px;
  top: 240px;
  left: 295px;
}

.home-member-first {
  width: 120px;
  height: 120px;
  #background-color: grey;
  border-radius: 10%;
  margin-left: 15px;
  margin-top: 15px;
}

.home-member-add {
  width: 120px;
  height: 120px;
  #background-color: grey;
  border-radius: 10%;
  margin-left: 30px;
  margin-top: 15px;
}

/* 家庭管理样式结束 */




/* 管理入口 -> 自由组合 开始 */
#free-group-list-text {
  top: -140px;
}

#free-group-add-text {
  top: -140px;
}

.free-group-name {
  #background-color: grey;
  width: 80%;
  height: 40px;
  margin-top: 5px;
  margin-left: 20px;
}

.free-group-second-line {
  width: 90%;
  height: 280px;
  #background-color: grey;
  margin-top: 5px;
  margin-left: 20px;
}

.free-group-condition {
  width: 49%;
  height: 100%;
  margin-right: 5px;
  #background-color: blue;
  float: left;
}

.free-group-action {
  width: 49%;
  height: 100%;
  margin-left: 5px;
  #background-color: blue;
  float: right;
}

/* 管理入口 -> 自由组合 结束 */


/* 管理入口 -> 情景管理 开始 */
#scene-control-my-scene-text {
  top: -140px;
}

#scene-control-exec-log-text {
  top: -140px;
}


#scene-manage-buttom-text {
  top: -70px;
}

.scene-manage-first-line {
  #background-color: grey;
  width: 80%;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.scene-name-label {
  color: white;
  font-size: 20px;
}

.label-input {
  -webkit-appearance: none;
  appearance: none;
  border:none;
  width: 80%;
  height: 20px;
  background: none;
  box-shadow: none;
  outline: none;
  color: white;
  font-size: 20px;
  margin-left: 5px;
}

.scene-manage-second-line {
  #background-color: grey;
  width: 80%;
  height: 80px;
  margin-left: 20px;
}

.scene-manage-avator {
  #background-color: red;
  width: 100px;
  height: 80px;
  border-radius: 10%;
}

.scene-manage-action {
  #background-color: grey;
  width: 80%;
  height: 180px;
  margin-left: 20px;
}

.scene-action-one {
  width: 60%;
  height: 40px;
  #background-color: red;
  display: inline-block;
  margin-top: 10px;
}

.scene-action-one-img {
  width: 40px;
  height: 40px;
}

.scene-action-one-label {
  color: white;
  font-size: 20px;
  position: relative;
  top: 5px;
  left: -30px;
}

.scene-manage-action-table {
  position: relative;
  top: -60px;
  height: 40px;
}

/* 管理入口 -> 情景管理 结束 */

.buttom-text-one {
  top: -70px;
}

.buttom-text-top {
  top: -140px;
}


.dimming-lamp-forth-line {
  width: 100%;
  height: 60px;
  #background-color: grey;
  margin-top: 15px;
}

.dimming-lamp-free-group {
  position: relative;
  width: 300px;
  height: 60px;
  top: 20px;
  #background-color: red;
}

.dimming-lamp-free-group p {
  color: white;
  float: left;
  font-size: 20px;
  position: relative;
  top: 7px;
  left: 25px;
}

.dimming-lamp-toggle {
  position: relative;
  top: -10px;
  left: 120px;
}

.dimming-lamp-toggle input[type=range]{
  -webkit-appearance: none;
  width: 300px;
  height: 35px;
  background: transparent;
  outline: none;
  position: relative;
  top: -17px;
  left: 0px;
}

.dimming-lamp-toggle input[type=range]::-moz-range-thumb {
  height: 33px;
  width: 33px;
  border-radius: 100%;
  border-color: black;
  #background: black;
  cursor: pointer;
  background-image: url('/static/img/switch_key.png');
}

.dimming-lamp-toggle input[type=range]::-moz-range-track {
  width: 100%;
  height: 40px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-image: url('/static/img/process_bar.png');
}

#dimming-lamp-toggle-bar-text {
  color: white;
  position: relative;
  top: -60px;
  left: 123px;
  -webkit-user-select:none;
  user-select:none;
  z-index: -10px;
}
