*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.main{
    width: 100%;
    height: 100%;
}

.wrap{
    width: 100%;
    height: 100%;
    max-width: 1160px;
    margin:0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 第一栏 - 标题栏 */
.top{
    width: 100%;
    height: 60px;
    background-color: pink;
}

.top div {
  float: left;
}

/* 头像与用户 */
.user-home {
  width: 200px;
  height: 60px;
  background-color: grey;
  text-align: center;
}

.user-home a {
  font-size: 20px;
  color: white;
  background-color: red;
  position: relative;
  top: 15px;
}

.user-home img{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-left: 20px;
}

/* 显示标题头 */
.show-header {
  width: 100px;
  height: 60px;
  background-color: red;
  text-align: center;
  position: relative;
  left: 100px;
}

.show-header span {
  background-color: grey;
  font-size: 20px;
  position: relative;
  color: white;
  top: 15px;
}

/* wifi 信号 */
.wifi {
  width: 60px;
  height: 60px;
  background-color: grey;
  position: relative;
  left: 150px;
}

/* 显示日期 */
.show-date {
  width: 200px;
  height: 60px;
  background-color: grey;
  position: relative;
  left: 160px;
}

.show-date .date{
  color: white;
}

.show-date .lunar{
  color: white;
}

.show-time {
  width: 100px;
  height: 100%;
  background-color: grey;
  position: relative;
  left: 155px;
}

.show-time span {
  font-size: 30px;
  color: white;
  margin-top: 15px;
  width: 100px;
}

.weather {
  width: 200px;
  height: 60px;
  background-color: red;
  position: relative;
  left: 170px;
}

.weather span {
  #font-size: 15px;
  color: white;
}

.weather_img {
  width: 60px;
  height: 60px;
  position: relative;
  left: 180px;
  background-color: grey;
}

.weather_img img {
  width: 100%;
  height: 100%;
}

/* 第二栏 - 菜单栏 */
.header{
  clear: both;
  width: 100%;
  height: 60px;
  background-color: grey;
}

.header div {
  float: left;
  padding-left: 10px;
}

.header div img {
  width: 170px;
}

.hide {
  display: none;
}

.smart-control-content {
    width: 100%;
}

.manage-entry-content {
    width: 100%;
}

.set-guide-content {
    width: 100%;
}

.other-content {
    width: 100%;
}

.first{
    width: 25%;
    height: 420px;
    float: left;
}

.first-one {
  width: 100%;
  height: 205px;
}

.first-two{
    width: 100%;
    height: 205px;
    margin-top: 10px;
}

.second{
    width: 25%;
    float: left;
}

.second-one{
    width: 100%;
    height: 205px;
}

.second-two{
    width: 100%;
    height: 205px;
    margin-top: 10px;
}

.third{
    width: 25%;
    float: left;
}

.third-one{
    width: 100%;
    height: 205px;
}

.third-two{
    width: 100%;
    height: 205px;
    margin-top: 10px;
}

.fourth{
    width: 25%;
    height: 420px;
    float: left;
}

.fourth-one{
    width: 100%;
    height: 205px;
}

.fourth-two{
    width: 100%;
    height: 205px;
    margin-top: 10px;
}

.left-side {
  background-image: url('/static/img/left_side_background.png');
  float: left;
  width: 15%;
  height: 360px;
  background-size: 100% 100%;
}

.my-device {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.my-device-on {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}


.device-list {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.device-list-on {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}


.device-list-text {
  clear: both;
  color: white;
  position: relative;
  display: inline-block;
  top: -115px;
  left: 50px;
  z-index: 10;
}

.exec-log {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.exec-log-on {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}


.register-off {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.register-off-on {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.exec-log-text {
  clear: both;
  color: white;
  position: relative;
  display: inline-block;
  top: -45px;
  left: -20px;
  z-index: 10;
}

.register-off-text {
  clear: both;
  color: white;
  position: relative;
  display: inline-block;
  top: -45px;
  left: -20px;
  z-index: 10;
}

.my-device-text {
  clear: both;
  width: 100%;
  height: 60px;
  margin-left: 12px;
  margin-top: 10px;
}

.exec-log-text {
  clear: both;
  color: white;
  position: relative;
  display: inline-block;
  top: -45px;
  left: -20px;
  z-index: 10;
}


.right-side {
  width: 84%;
  height: 360px;
  border: 1px solid red;
  background-image: url('/static/img/right_side_background.png');
  background-size: 100% 100%;
  float: right;
}

.up {
  clear:both;
  width: 100%;
  height: calc(50% - 3px);
  background-color: pink;
}

.open-window-machine {
  width: 33%;
  height: 100%;
  float: left;
  background-color: blue;
}

.curtain {
  width: 33%;
  height: 100%;
  float: left;
  margin-left: 5px;
  background-color: blue;
}

.touch-switch {
  width: 33%;
  height: 100%;
  float: right;
  background-color: blue;
}

.down {
  width: 100%;
  height: calc(50% - 3px);
  margin-top: 6px;
  background-color: pink;
}

.air-box {
  width: 33%;
  height: 100%;
  float: left;
  background-color: blue;
}

.smart-plug {
  width: 33%;
  height: 100%;
  float: left;
  margin-left: 5px;
  background-color: blue;
}

.dimming-lamp {
  width: 33%;
  height: 100%;
  float: right;
  background-color: blue;
}

.buttom {
  width: 84%;
  height: 60px;
  margin-top: 10px;
  float: right;
}

.switch-board {
  float: left;
  width: 50%;
  height: 90%;
  background-color: pink;
}

.one-key-switch {
  clear: both;
  width: 100%;
  height: 70px;
  background-color: blue;
  margin-top: 40px;
}

.switch-panel {
  width: 60px;
  height: 100%;
  margin-left: 30px;
  float: left;
}

.key-panel {
  background-color: orange;
  position: relative;
  width: 100px;
  height: 60px;
  float: left;
  margin-left: 30px;
}

.key-panel p{
  width: 100%;
  height: 40%;
  color: white;
}

.key-panel img{
  width: 100%;
  height: 60%;
  float: left;
  position: absolute;
  margin-top: -10px;
}

#one-key-switch-on {
  clear: both;
  #background-color: red;
  display: inline-block;
  position: relative;
  z-index: 10;
  top: 30px;
  left: -94px;
}

#one-key-switch-off {
  clear: both;
  #background-color: red;
  display: inline-block;
  position: relative;
  z-index: 10;
  top: 30px;
  left: -79px;
}


.two-key-switch {
  width: 100%;
  height: 70px;
  background-color: blue;
  margin-top: 40px;
  clear: both;
}


.two-key-panel {
  background-color: orange;
  position: relative;
  width: 100px;
  height: 60px;
  float: left;
  top: -68px;
  margin-left: 150px;
}

.two-key-panel p{
  width: 100%;
  height: 40%;
  margin-left: 30%;
  color: white;
}

.two-key-panel img{
  width: 100%;
  height: 60%;
  float: left;
  position: absolute;
  margin-top: -10px;
}

.two-switch-key-on {
  position: relative;
  z-index: 10;
  top: -37px;
  left: -93px;
}

.two-switch-key-off {
  position: relative;
  z-index: 10;
  left: -41px;
  top: -71px;
}

.three-key-switch {
  width: 100%;
  height: 70px;
  background-color: blue;
  margin-top: 40px;
  clear: both;
}



.three-key-switch {
  width: 100%;
  height: 70px;
  background-color: blue;
  margin-top: 40px;
  clear: both;
}


.three-key-panel {
  background-color: orange;
  position: relative;
  width: 100px;
  height: 60px;
  float: left;
  top: -136px;
  margin-left: 360px;
}

.three-key-panel p{
  width: 100%;
  height: 40%;
  margin-left: 30%;
  color: white;
}

.three-key-panel img{
  width: 100%;
  height: 60%;
  float: left;
  position: absolute;
  margin-top: -10px;
}

.three-switch-key-on {
  position: relative;
  z-index: 10;
  top: -165px;
  left: 368px;
}

.three-switch-key-off {
  position: relative;
  z-index: 10;
  top: -199px;
  left: 420px;
}

.video {
  float: right;
  background-color: pink;
  height: 85%;
  width: 49%;
  border-radius: 15%;
  margin-top: 10px;
}

.right-side p {
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 10;
}

.apply {
  width: calc(50% - 3px);
  height: 100%;
  float: left;
  background-color: pink;
  background-image: url('/static/img/buttom_img.png');
  background-size: cover;
}

.back {
  width: calc(50% - 3px);
  height: 100%;
  float: right;
  background-image: url('/static/img/buttom_img.png');
  background-size: cover;
}


.device-manage-card {
    width: 100%;
    height: 205px;
}


table {
  width: 90%;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  text-align: center;
  margin-left: 40px;
  margin-top: 20px;
  color: white;
}

table, th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: white;
}

table,td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: white;
  border-spacing: 10px;
}
