<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		<!--  Custom heads -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />

		{% block head %}{% endblock %}

		<title>{% block title %}{% endblock %} - 智能家居</title>
	</head>

	<body scroll="no" ondragstart="return false">
		{% block body %}{% endblock %}




		<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
		<!-- Optional JavaScript -->
		{% block script %}{% endblock %}
	</body>
</html>
