{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block title %}主页{% endblock %}

{% block body %}

<div class="main">
  <div class="wrap">
		<!-- 第一栏  -->
		<div class="top">
			<!-- 头像与文字描述 -->
			<div class="user-home">
				<img src="{{ url_for('static', filename='img/avator.png') }}" alt="头像">
				<span class="user-home-text">Elewei的家</span>
			</div>

			<!-- 显示当前页面标题 -->
			<div class="show-header">
				<span>管理入口</span>
			</div>

			<!-- 显示当前wifi信号强弱 -->
			<div class="wifi">
				<img src="{{ url_for('static', filename='img/wifi_strong.png') }}" alt="wifi信号">
			</div>

			<!-- 显示当前日期 -->
			<div class="show-date">
				<span id="date" style="font-size: 20px;"></span>  <br>
				<span id="lunar" style="font-size: 15px;">甲午【马】年六月二十</span>
			</div>

			<!-- 显示当前时间 -->
			<div class="show-time">
				<span id="clock-time">22:45:45</span>
			</div>

			<!-- 显示当前天气 -->
			<div class="weather">
				<span id="wendu">18℃-30℃</span> <br />
				<span id="tianqi">晴</span>
				<span id="city">苏州</span>
			</div>

			<div class="weather_img">
				<img src="{{ url_for('static', filename='img/weather/sunny.png') }}" alt="天气图标">
			</div>

			<!-- ToDo: 如果已经登录，显示退出 -->
	  </div>

		<!-- 第二栏  -->
	  <div class="header">
			<!-- 智能控制（未点击）  -->
			<div class="smart-control hide">
				<img src="{{ url_for('static', filename='img/smart_control.png') }}">
			</div>

			<!-- 智能控制（点击）  -->
			<div class="smart-control-on">
				<img src="{{ url_for('static', filename='img/smart_control_on.png') }}">
			</div>

			<!-- 管理入口（未点击）  -->
			<div class="manage-entry">
				<img src="{{ url_for('static', filename='img/manage_entry.png') }}">
			</div>

			<!-- 管理入口（点击）  -->
			<div class="manage-entry-on hide">
				<img src="{{ url_for('static', filename='img/manage_entry_on.png') }}">
			</div>

			<!-- 设置向导（未点击）  -->
			<div class="set-guide">
				<img src="{{ url_for('static', filename='img/set_guide.png') }}">
			</div>

			<!-- 设置向导（点击）  -->
			<div class="set-guide-on hide">
				<img src="{{ url_for('static', filename='img/set_guide_on.png') }}">
			</div>

			<!-- 其他（未点击）  -->
			<div class="other">
				<img src="{{ url_for('static', filename='img/other.png') }}">
			</div>

			<!-- 其他（点击）  -->
			<div class="other-on hide">
				<img src="{{ url_for('static', filename='img/other_on.png') }}">
			</div>
	  </div>

		<!-- 智能控制-页面  -->
	  <div class="smart-control-content">
	      <div class="first scene-control">
					<img src="{{ url_for('static', filename='img/scene-control.png') }}">
	      </div>
	      <div class="second">
	          <div class="second-one room-control">
						  <img src="{{ url_for('static', filename='img/room-control.png') }}">
	          </div>

						<div class="second-two independant-control">
							<img src="{{ url_for('static', filename='img/independant-control.png') }}">
	          </div>
	      </div>
	      <div class="third">
	          <div class="third-one time-control">
							<img src="{{ url_for('static', filename='img/time-control.png') }}">
	          </div>
	          <div class="third-two voice-control">
							<img src="{{ url_for('static', filename='img/voice-control.png') }}">
	          </div>
	      </div>
	      <div class="fourth home-monitor">
					<img src="{{ url_for('static', filename='img/home-monitor.png') }}">
	      </div>
	  </div>

		<!-- 管理入口-页面  -->
		<div class="manage-entry-content hide">
				<div id="manage-entry-home-manage" class="first">
					<img src="{{ url_for('static', filename='img/home_manage.png') }}">
				</div>

				<div id="" class="second">
						<div class="second-one device-manage-card">
							<img src="{{ url_for('static', filename='img/device_manage.png') }}">
						</div>

						<div id="manage-entry-device-class" class="second-two">
							<img src="{{ url_for('static', filename='img/device_class.png') }}">
						</div>
				</div>

				<div class="third">
						<div id="manage-entry-scene-manage" class="third-one">
							<img src="{{ url_for('static', filename='img/scene_manage.png') }}">
						</div>
						<div class="third-two">
							<img src="{{ url_for('static', filename='img/gateway_manage.png') }}">
						</div>
				</div>

				<div id="manage-entry-free-group" class="fourth">
					<img src="{{ url_for('static', filename='img/free_group.png') }}">
				</div>
		</div>

		<!-- 设置向导-页面  -->
		<div class="set-guide-content hide">
				<div class="first">
					<div class="first-one">
						<img src="{{ url_for('static', filename='img/network_setup.png') }}">
					</div>

					<div class="first-two">
						<img src="{{ url_for('static', filename='img/sleep_setup.png') }}">
					</div>
				</div>

				<div class="second">
						<div class="second-one" id="set-guide-user-setup">
							<img src="{{ url_for('static', filename='img/user_setup.png') }}">
						</div>

						<div class="second-two">
							<img src="{{ url_for('static', filename='img/assist_feature.png') }}">
						</div>
				</div>

				<div class="third">
						<div class="third-one">
							<img src="{{ url_for('static', filename='img/display_setup.png') }}">
						</div>
						<div class="third-two">
							<img src="{{ url_for('static', filename='img/initial_setup.png') }}">
						</div>
				</div>

				<div class="fourth">
						<div class="fourth-one voice-setup">
							<img src="{{ url_for('static', filename='img/voice_setup.png') }}">
						</div>

						<div class="fourth-two other-setup">
							<img src="{{ url_for('static', filename='img/other_setup.png') }}">
						</div>
				</div>
		</div>

		<!-- 其他-页面  -->
		<div class="other-content hide">
				<div class="first">
					<img src="{{ url_for('static', filename='img/common_faq.png') }}">
				</div>

				<div class="second">
						<div class="second-one">
							<img src="{{ url_for('static', filename='img/contact_us.png') }}">
						</div>
				</div>

				<div class="third">
						<div class="third-one">
							<img src="{{ url_for('static', filename='img/version.png') }}">
						</div>
				</div>

				<div class="fourth">
					<div class="fourth-one other-content-about-us">
						<img src="{{ url_for('static', filename='img/about_us.png') }}">
					</div>
				</div>
		</div>

		<!-- 智能控制->独立控制-页面 -->
		<div class="independant-control-content hide">
				<div class="left-side">
					<div id="independant-left-side-buttom-one" class="left-side-buttom-one">

					</div>

					<div id="independant-left-side-buttom-one-on" class="left-side-buttom-one-on hide">

					</div>

					<div id="independant-left-side-buttom-two" class="left-side-buttom-two hide">

					</div>

					<div id="independant-left-sice-buttom-two-on" class="left-side-buttom-two-on show">

					</div>

					<div id="independant-left-my-device-text">
						<p>我的设备</p>
					</div>

					<div id="independant-left-exec-log-text">
						<p>执行记录</p>
					</div>
				</div>

				<div class="right-side">
					<div class="up">
						<div class="open-window-machine">
							<img src="{{ url_for('static', filename='img/open_window_machine.png') }}" alt="">
						</div>
						<div class="curtain">
							<img src="{{ url_for('static', filename='img/indepandent_curtain.png') }}" alt="">
						</div>
						<div class="touch-switch">
							<img src="{{ url_for('static', filename='img/indepandent_touch_switch.png') }}" alt="">
						</div>
					</div>

					<div class="down">
						<div class="air-box">
							<img src="{{ url_for('static', filename='img/indepandent_air_box.png') }}" alt="">
						</div>
						<div class="smart-plug">
							<img src="{{ url_for('static', filename='img/indepandent_smart_plug.png') }}" alt="">
						</div>
						<div class="dimming-lamp">
							<img src="{{ url_for('static', filename='img/indepandent_dimming_lamp.png') }}" alt="">
						</div>
					</div>
				</div>

				<div class="buttom">
					<div class="apply">
						<p>应&nbsp&nbsp&nbsp&nbsp用</p>
					</div>
					<div id="independant-control-content-back" class="back">
						<p>返&nbsp&nbsp&nbsp&nbsp回</p>
					</div>
				</div>
		</div>

		<!-- 智能控制->独立控制->开窗器-页面 -->
		<div class="open-window-machine-content hide">
		  <div class="left-side">
				<div class="left-side-buttom-one hide">
				</div>

				<div class="left-side-buttom-one-on">
				</div>

				<div class="left-side-buttom-two">
				</div>

				<div class="left-side-buttom-two-on hide">
				</div>

				<div id="open-window-left-side-text" class="buttom-text buttom-text-top">
					<p>开窗器</p>
				</div>

				<div id="open-window-exec-log-text" class="buttom-text buttom-text-top">
					<p>执行记录</p>
				</div>
			</div>

			<div class="right-side">
				<div class="switch-board">
					<div class="curtain-first-line">
						<div class="curtain-all_open">
							<p>全开</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
						<div class="curtain-all_close">
							<p>全关</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
					</div>
					<div class="curtain-second-line">
						<div class="curtain-stop">
							<p>停</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
						<div class="curtain-reverse">
							<p>反转</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
					</div>
					<div class="curtain-third-line">
						<div class="curtain-check">
							<p>校准</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
					</div>
					<div class="open-window-forth-line">
						<div class="open-window-free-group">
							<p>自由开合</p>
							<div class="open-window-free-toggle">
								<input type="range" id="open-window-toggle-bar" name="open-window-toggle-bar" step="5" min="0" max="100">
								<span id="open-window-toggle-bar-value">10%</span>
							</div>
						</div>
					</div>
				</div>

				<div class="video">
					<img id = "window-img" src="/static/img/open_window_img/1.jpg" alt="">
				</div>
				<p class="video-text">演示动画</p>
			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="open-window-machine-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 智能控制->独立控制->触控开关-页面 -->
		<div class="touch-switch-content hide">
		  <div class="left-side">
				<div class="left-side-buttom-one hide">
				</div>

				<div class="left-side-buttom-one-on">
				</div>

				<div class="left-side-buttom-two">
				</div>

				<div class="left-side-buttom-two-on hide">
				</div>

				<div id="touch-switch-text" class="">
					<p>触控开关</p>
				</div>

				<div id="touch-switch-exec-log-text" class="">
					<p>执行记录</p>
				</div>
			</div>

			<div class="right-side">
				<div class="switch-board">
					<!-- 一键触控开关 -->
					<div class="one-key-switch">
				  	<div class="switch-panel">
							<img src="{{ url_for('static', filename='img/one_key_switch_panel.png') }}" alt="一键触控开关">
				  	</div>
						<div class="one-key-panel">
							<div class="switch-bar">
								<p>一键</p>
								<img src="{{ url_for('static', filename='img/touch_switch.png') }}" alt="">
							</div>
							<div class="one-key-switch-off hide" id="touch-one-key-switch-on">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="开">
							</div>
							<div class="one-key-switch-on" id="">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="关">
							</div>
						</div>
					</div>

					<!-- 二键触控开关 -->
					<div class="two-key-switch">
						<div class="switch-panel">
							<img src="{{ url_for('static', filename='img/two_key_switch_panel.png') }}" alt="二键触控开关">
				  	</div>

						<div class="one-key-panel">
							<div class="switch-bar">
								<p>一键</p>
								<img src="{{ url_for('static', filename='img/touch_switch.png') }}" alt="">
							</div>
							<div class="two-key-one-switch-on" id="two-one-switch-on">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="开">
							</div>

							<div class="two-key-one-switch-off hide" id="two-one-switch-off">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="关">
							</div>
						</div>

						<div class="two-key-panel">
							<div class="switch-bar">
								<p>二键</p>
								<img src="{{ url_for('static', filename='img/touch_switch_last.png') }}" alt="">
							</div>
							<div class="two-key-two-switch-on" id="two-two-switch-on">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="开">
							</div>
							<div class="two-key-two-switch-off hide" id="two-two-switch-off">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="关">
							</div>
						</div>
					</div>

					<div class="three-key-switch">
						<div class="switch-panel">
							<img src="{{ url_for('static', filename='img/three_key_switch_panel.png') }}" alt="一键触控开关">
				  	</div>
						<div class="one-key-panel">
							<div class="switch-bar">
								<p>一键</p>
								<img src="{{ url_for('static', filename='img/touch_switch.png') }}" alt="">
							</div>
							<div class="three-key-one-switch-on ">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="开">
							</div>
							<div class="three-key-one-switch-off hide">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="关">
							</div>
						</div>

						<div class="two-key-panel">
							<div class="switch-bar">
								<p>二键</p>
								<img src="{{ url_for('static', filename='img/touch_switch.png') }}" alt="">
							</div>

							<div class="three-key-two-switch-off hide">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="开">
							</div>
							<div class="three-key-two-switch-on">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="关">
							</div>
						</div>

						<div class="three-key-panel">
							<div class="switch-bar">
								<p>三键</p>
								<img src="{{ url_for('static', filename='img/touch_switch_last.png') }}" alt="">
							</div>
							<div class="three-key-three-switch-on">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="开">
							</div>
							<div class="three-key-three-switch-off hide">
								<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="关">
							</div>
						</div>
					</div>
				</div>

				<div class="video">
					<img id="video-touch-switch-background-img" src="{{ url_for('static', filename='img/touch_switch/switch_background.png') }}" alt="">
					<!-- 一键触控开关 图片-->
					<img id="video-one-key-switch" class="hide" src="{{ url_for('static', filename='img/touch_switch/touch_switch_off.png') }}">
					<!-- 二键触控开关 图片-->
					<img id="video-two-key-one-switch" class="hide" src="{{ url_for('static', filename='img/touch_switch/multi_touch_switch_off.png') }}">
					<img id="video-two-key-two-switch" class="hide" src="{{ url_for('static', filename='img/touch_switch/multi_touch_switch_off.png') }}">
					<!-- 三键触控开关 图片-->
					<img id="video-three-key-one-switch" class="" src="{{ url_for('static', filename='img/touch_switch/multi_touch_switch_off.png') }}">
					<img id="video-three-key-two-switch" class="" src="{{ url_for('static', filename='img/touch_switch/multi_touch_switch_off.png') }}">
					<img id="video-three-key-three-switch" class="" src="{{ url_for('static', filename='img/touch_switch/multi_touch_switch_off.png') }}">
				</div>
				<p class="video-text">演示动画</p>
			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="touch-switch-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 智能控制->独立控制->智能插座-页面 -->
		<div class="smart-plug-content hide">
		  <div class="left-side">
				<div class="left-side-buttom-one hide">
				</div>

				<div class="left-side-buttom-one-on">
				</div>

				<div class="left-side-buttom-two">
				</div>

				<div class="left-side-buttom-two-on hide">
				</div>

				<div id="smart-plug-left-side-text" class="">
					<p>智能插座</p>
				</div>

				<div id="smart-plug-exec-log-text" class="">
					<p>执行记录</p>
				</div>
			</div>

			<div class="right-side">
				<div class="switch-board">
					<div class="smart-plug-bar">
						<div class="smart-plug-img">
							<img src="{{ url_for('static', filename='img/smart_plug_panel.png') }}" alt="">
						</div>
						<div class="smart-plug-toggle">
							<img src="{{ url_for('static', filename='img/touch_switch.png') }}" alt="">
						</div>
						<div class="smart-plug-on">
							<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="">
						</div>
						<div class="smart-plug-off hide">
							<img src="{{ url_for('static', filename='img/switch_key.png') }}" alt="">
						</div>
					</div>
				</div>

				<div class="video">
					<img id="smart-plug-img" src="{{ url_for('static', filename='img/touch_switch/smart_plug.png') }}" alt="">
				</div>
				<p class="video-text">演示动画</p>
			</div>

			<div class="buttom">
				<div  class="apply">
					<p>应用</p>
				</div>
				<div id="smart-plug-content-back" class="back">
					<p>返回</p>
				</div>
			</div>
		</div>

		<!-- 智能控制->独立控制->智能窗帘-页面 -->
		<div class="smart-curtain-content hide">
		  <div class="left-side">
				<div class="left-side-buttom-one hide">
				</div>

				<div class="left-side-buttom-one-on">
				</div>

				<div class="left-side-buttom-two">
				</div>

				<div class="left-side-buttom-two-on hide">
				</div>

				<div id="smart-curtain-left-side-text" class="">
					<p>智能窗帘</p>
				</div>

				<div id="smart-curtain-exec-log-text" class="">
					<p>执行记录</p>
				</div>
			</div>

			<div class="right-side">
				<div class="switch-board">
					<div class="curtain-first-line">
						<div class="curtain-all_open">
							<p>全开</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
						<div class="curtain-all_close">
							<p>全关</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
					</div>
					<div class="curtain-second-line">
						<div class="curtain-stop">
							<p>停</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
						<div class="curtain-reverse">
							<p>反转</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
					</div>
					<div class="curtain-third-line">
						<div class="curtain-check">
							<p>校准</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
					</div>
					<div class="curtain-forth-line">
						<div class="crutain-free-group">
							<p>自由开合</p>
							<div class="curtain-free-toggle">
								<input type="range" id="curtain-toggle-bar" name="curtain-toggle-bar" min="0" max="100" step="5">
							</div>
						</div>
					</div>
				</div>

				<div class="video">
					<img id="curtain-img" src="{{ url_for('static', filename='img/smart_curtain/01.jpg') }}" alt="">
				</div>
				<p class="video-text">演示动画</p>
			</div>

			<div class="buttom">
				<div  class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="smart-curtain-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 智能控制->独立控制->调光灯-页面 -->
		<div class="dimming-lamp-content hide">
		  <div class="left-side">
				<div class="left-side-buttom-one hide">
				</div>

				<div class="left-side-buttom-one-on">
				</div>

				<div class="left-side-buttom-two">
				</div>

				<div class="left-side-buttom-two-on hide">
				</div>

				<div id="dimming-lamp-left-side-text" class="">
					<p>调光灯</p>
				</div>

				<div id="dimming-lamp-exec-log-text" class="">
					<p>执行记录</p>
				</div>
			</div>

			<div class="right-side">
				<div class="switch-board">
					<div class="curtain-first-line">
						<div class="curtain-all_open">
							<p>全开</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
					</div>
					<div class="curtain-second-line">
						<div class="curtain-stop">
							<p>停</p>
							<img src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						</div>
					</div>
					<div class="curtain-forth-line">
						<div class="crutain-free-group">
							<p>百分比</p>
							<div class="curtain-free-toggle">
								<input type="range" id="curtain-toggle-bar" name="curtain-toggle-bar" min="0" max="100">
							</div>
						</div>
					</div>
				</div>

				<div class="video">

				</div>
				<p>演示动画</p>
			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="dimming-lamp-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 智能控制->独立控制->空气盒子-页面 -->
		<div class="air-box-content hide">
		  <div class="left-side">
				<div class="left-side-buttom-one hide">
				</div>

				<div class="left-side-buttom-one-on">
				</div>

				<div class="left-side-buttom-two">
				</div>

				<div class="left-side-buttom-two-on hide">
				</div>

				<div id="air-box-left-side-text" class="">
					<p>空气盒子</p>
				</div>

				<div id="air-box-left-side-exec-log-text" class="">
					<p>执行记录</p>
				</div>
			</div>

			<div class="right-side">
				<div class="switch-board">
					<div class="air-box-line">
						<p>PM2.5</p>
						<input type="range" name="" value="">
					</div>
					<div class="air-box-line">
						<p>甲醛</p>
						<input type="range" name="" value="">
					</div>
					<div class="air-box-line">
						<p>PM2.5</p>
						<input type="range" name="" value="">
					</div>
					<div class="air-box-line">
						<p>PM2.5</p>
						<input type="range" name="" value="">
					</div>
					<div class="air-box-line">
						<p>PM2.5</p>
						<input type="range" name="" value="">
					</div>
					<div class="air-box-line">
						<p>PM2.5</p>
						<input type="range" name="" value="">
					</div>
					<div class="air-box-line">
						<p>PM2.5</p>
						<input type="range" name="" value="">
					</div>
				</div>

				<div class="video">

				</div>
				<p class="video-text">演示动画</p>
			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="air-box-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 管理入口->设备管理-页面 -->
		<div class="device-manage-content hide">
			<div class="left-side">
				<div id="device-manage-device-list" class="left-side-buttom-one hide">
				</div>

				<div id="device-manage-device-list-on" class="left-side-buttom-one-on">
				</div>

				<div id="device-manage-register-off" class="left-side-buttom-two">
				</div>

				<div id="device-manage-register-off-on" class="left-side-buttom-two-on hide">
				</div>

				<div class="device-list-text">
					<p>设备列表</p>
				</div>

				<div class="register-off-text">
					<p>注册/注销</p>
				</div>
			</div>

			<div class="right-side device-list-page">
				<table class="device-manage-table">
					<tr>
						<th>设备名称</th>
						<th>所属房间</th>
						<th>设备地址</th>
					</tr>
					<tr>
						<td>插座</td>
						<td>主卧</td>
						<td>192.168.1.1</td>
					</tr>
				</table>
			</div>

			<div class="right-side register-off-page hide">
				<p>设备注册</p>
				<table id="device-manage-table">
					<tr>
						<th>设备名称</th>
						<th>所属房间</th>
						<th>设备地址</th>
						<th>注册/注销</th>
					</tr>
					<tr>
						<td>
							<select>
							  <option value="register-off-open-window-machine">开窗器</option>
							  <option value="register-off-curtain">窗帘</option>
							  <option value="register-off-touch-switch">触控开关</option>
							  <option value="register-off-air-box">空气盒子</option>
								<option value="register-off-smart-plug">智能插座</option>
								<option value="register-off-dimming-lamp">调光灯</option>
							</select>
						</td>
						<td>
							<select>
							  <option value="register-off-dinner-room">客厅</option>
							  <option value="register-off-first-room">主卧</option>
							  <option value="register-off-second-room">次卧</option>
							  <option value="register-off-bath-room">卫生间</option>
								<option value="register-off-kitchen-room">厨房</option>
								<option value="register-off-other-room">其他房间</option>
							</select>
						</td>
						<td></td>
						<td>
							<button class="button-register" type="button" id="register-plug">注册</button>
						</td>
					</tr>
				</table>
				<p>设备注销</p>
				<table id="device-manage-table">
					<tr>
						<th>设备名称</th>
						<th>所属房间</th>
						<th>设备地址</th>
						<th>注册/注销</th>
					</tr>
					<tr>
						<td>
							<select>
								<option value="register-off-open-window-machine">开窗器</option>
								<option value="register-off-curtain">窗帘</option>
								<option value="register-off-touch-switch">触控开关</option>
								<option value="register-off-air-box">空气盒子</option>
								<option value="register-off-smart-plug">智能插座</option>
								<option value="register-off-dimming-lamp">调光灯</option>
							</select>
						</td>
						<td>
							<select>
								<option value="register-off-dinner-room">客厅</option>
								<option value="register-off-first-room">主卧</option>
								<option value="register-off-second-room">次卧</option>
								<option value="register-off-bath-room">卫生间</option>
								<option value="register-off-kitchen-room">厨房</option>
								<option value="register-off-other-room">其他房间</option>
							</select>
						</td>
						<td>192.168.1.1</td>
						<td>
							<button class="button-off" type="button" id="off-plug">注销</button>
						</td>
					</tr>
				</table>
			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="device-manage-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 管理入口->情景管理-页面 -->
		<div class="scene-manage-content hide">
			<div class="left-side">
				<div id="scene-manage-buttom-on" class="left-side-buttom-one-on">
				</div>

				<div id="scene-manage-buttom-text" class="buttom-text">
					<p>情景管理</p>
				</div>
			</div>

			<div class="right-side">
				<div class="scene-manage-first-line">
					<span class="scene-name-label">情景名称： </span>
					<input class="label-input" type="text" name="" value="阿毛的家">
				</div>
				<div class="scene-manage-second-line">
					<span class="scene-name-label">情景图标：</span>
					<img class="scene-manage-avator" src="{{ url_for('static', filename='img/background_entry.png') }}" alt="">
				</div>
				<div class="scene-manage-action">
					<p class="scene-name-label ">执行动作:</p>
					<div class="scene-action-one">
						<img class="scene-action-one-img" src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						<span class="scene-action-one-label">1</span>
						<table class="scene-manage-action-table">
							<tr>
								<td>
									<select>
										<option value="register-off-open-window-machine">开窗器</option>
										<option value="register-off-curtain">窗帘</option>
										<option value="register-off-touch-switch">触控开关</option>
										<option value="register-off-air-box">空气盒子</option>
										<option value="register-off-smart-plug">智能插座</option>
										<option value="register-off-dimming-lamp">调光灯</option>
									</select>
								</td>
								<td>
									<select>
										<option value="register-off-dinner-room">客厅</option>
										<option value="register-off-first-room">主卧</option>
										<option value="register-off-second-room">次卧</option>
										<option value="register-off-bath-room">卫生间</option>
										<option value="register-off-kitchen-room">厨房</option>
										<option value="register-off-other-room">其他房间</option>
									</select>
								</td>
								<td>
									<select>
										<option value="register-off-dinner-room">打开</option>
										<option value="register-off-first-room">关闭</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<div class="scene-action-one">
						<img class="scene-action-one-img" src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						<span class="scene-action-one-label">1</span>
						<table class="scene-manage-action-table">
							<tr>
								<td>
									<select>
										<option value="register-off-open-window-machine">开窗器</option>
										<option value="register-off-curtain">窗帘</option>
										<option value="register-off-touch-switch">触控开关</option>
										<option value="register-off-air-box">空气盒子</option>
										<option value="register-off-smart-plug">智能插座</option>
										<option value="register-off-dimming-lamp">调光灯</option>
									</select>
								</td>
								<td>
									<select>
										<option value="register-off-dinner-room">客厅</option>
										<option value="register-off-first-room">主卧</option>
										<option value="register-off-second-room">次卧</option>
										<option value="register-off-bath-room">卫生间</option>
										<option value="register-off-kitchen-room">厨房</option>
										<option value="register-off-other-room">其他房间</option>
									</select>
								</td>
								<td>
									<select>
										<option value="register-off-dinner-room">打开</option>
										<option value="register-off-first-room">关闭</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<div class="scene-action-one">
						<img class="scene-action-one-img" src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						<span class="scene-action-one-label">4</span>
						<table class="scene-manage-action-table">
							<tr>
								<td>
									<select>
										<option value="register-off-open-window-machine">开窗器</option>
										<option value="register-off-curtain">窗帘</option>
										<option value="register-off-touch-switch">触控开关</option>
										<option value="register-off-air-box">空气盒子</option>
										<option value="register-off-smart-plug">智能插座</option>
										<option value="register-off-dimming-lamp">调光灯</option>
									</select>
								</td>
								<td>
									<select>
										<option value="register-off-dinner-room">客厅</option>
										<option value="register-off-first-room">主卧</option>
										<option value="register-off-second-room">次卧</option>
										<option value="register-off-bath-room">卫生间</option>
										<option value="register-off-kitchen-room">厨房</option>
										<option value="register-off-other-room">其他房间</option>
									</select>
								</td>
								<td>
									<select>
										<option value="register-off-dinner-room">打开</option>
										<option value="register-off-first-room">关闭</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<div class="scene-action-one">
						<img class="scene-action-one-img" src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
						<span class="scene-action-one-label">+</span>
						<table class="scene-manage-action-table">
							<tr>
								<td>
									<select>
										<option value="register-off-open-window-machine">开窗器</option>
										<option value="register-off-curtain">窗帘</option>
										<option value="register-off-touch-switch">触控开关</option>
										<option value="register-off-air-box">空气盒子</option>
										<option value="register-off-smart-plug">智能插座</option>
										<option value="register-off-dimming-lamp">调光灯</option>
									</select>
								</td>
								<td>
									<select>
										<option value="register-off-dinner-room">客厅</option>
										<option value="register-off-first-room">主卧</option>
										<option value="register-off-second-room">次卧</option>
										<option value="register-off-bath-room">卫生间</option>
										<option value="register-off-kitchen-room">厨房</option>
										<option value="register-off-other-room">其他房间</option>
									</select>
								</td>
								<td>
									<select>
										<option value="register-off-dinner-room">打开</option>
										<option value="register-off-first-room">关闭</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
				</div>


			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="scene-manage-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 管理入口->设备分类-页面 -->
		<div class="device-classfication-content hide">
			<div class="left-side">
				<div id="scene-manage-buttom-on" class="left-side-buttom-one-on">
				</div>

				<div id="scene-manage-buttom-text" class="buttom-text">
					<p>房间列表</p>
				</div>
			</div>

			<div class="right-side">
				<table class="device-class-table">
					<tr>
						<th>房间名称</th>
						<th>房间设备</th>
					</tr>
					<tr>
						<td>
							<span>主卧</span>
						</td>
						<td>
							<select>
								<option value="register-off-open-window-machine">开窗器</option>
								<option value="register-off-curtain">窗帘</option>
								<option value="register-off-touch-switch">触控开关</option>
								<option value="register-off-air-box">空气盒子</option>
								<option value="register-off-smart-plug">智能插座</option>
								<option value="register-off-dimming-lamp">调光灯</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>+</td>
						<td>
							<!-- TODO: li -->
							<select>
								<option value="register-off-open-window-machine">开窗器</option>
								<option value="register-off-curtain">窗帘</option>
								<option value="register-off-touch-switch">触控开关</option>
								<option value="register-off-air-box">空气盒子</option>
								<option value="register-off-smart-plug">智能插座</option>
								<option value="register-off-dimming-lamp">调光灯</option>
							</select>
						</td>
					</tr>
				</table>
			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="device-classfication-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 智能控制->房间控制-页面 -->
		<div class="room-control-content hide">
			<div class="left-side">
				<div id="independant-left-side-buttom-one" class="left-side-buttom-one">

				</div>

				<div id="independant-left-side-buttom-one-on" class="left-side-buttom-one-on hide">

				</div>

				<div id="independant-left-side-buttom-two" class="left-side-buttom-two hide">

				</div>

				<div id="independant-left-sice-buttom-two-on" class="left-side-buttom-two-on">

				</div>

				<div id="room-control-my-room-text" class="buttom-text buttom-text-top">
					<p>我的房间</p>
				</div>

				<div id="room-control-room-desc-text" class="buttom-text buttom-text-top">
					<p>房间描述</p>
				</div>
			</div>

			<div id="room-control-my-room" class="right-side">
				<div class="up">
					<div class="open-window-machine living-room">
						<img src="{{ url_for('static', filename='img/room_control_dinner_room.png') }}" alt="">
					</div>
					<div class="curtain">
						<img src="{{ url_for('static', filename='img/room_control_first_room.png') }}" alt="">
					</div>
					<div class="touch-switch">
						<img src="{{ url_for('static', filename='img/room_control_second_room.png') }}" alt="">
					</div>
				</div>

				<div class="down">
					<div class="air-box">
						<img src="{{ url_for('static', filename='img/room_control_bath_room.png') }}" alt="">
					</div>
					<div class="smart-plug">
						<img src="{{ url_for('static', filename='img/room_control_kitchen_room.png') }}" alt="">
					</div>
					<div class="dimming-lamp">
						<img src="{{ url_for('static', filename='img/room_control_other_room.png') }}" alt="">
					</div>
				</div>
			</div>
			
			<div id="room-control-room-desc" class="right-side hide">
				<div class="up">
					<div class="open-window-machine living-room">
						<img src="{{ url_for('static', filename='img/room_control_dinner_room.png') }}" alt="">
					</div>
					<div class="curtain">
						<img src="{{ url_for('static', filename='img/room_control_first_room.png') }}" alt="">
					</div>
					<div class="touch-switch">
						<img src="{{ url_for('static', filename='img/room_control_second_room.png') }}" alt="">
					</div>
				</div>

				<div class="down">
					<div class="air-box">
						<img src="{{ url_for('static', filename='img/room_control_bath_room.png') }}" alt="">
					</div>
					<div class="smart-plug">
						<img src="{{ url_for('static', filename='img/room_control_kitchen_room.png') }}" alt="">
					</div>
					<div class="dimming-lamp">
						<img src="{{ url_for('static', filename='img/room_control_other_room.png') }}" alt="">
					</div>
				</div>
			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="room-control-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 设置向导 -> 用户设置-页面 -->
		<div class="user-setup-content hide">
		  <div class="left-side">
				<div id="user-setup-basic-info" class="left-side-buttom-one">
				</div>

				<div id="user-setup-basic-info-on" class="left-side-buttom-one-on hide">
				</div>

				<div id="user-setup-change-passwd" class="left-side-buttom-two hide">
				</div>

				<div id="user-setup-change-passwd-on" class="left-side-buttom-two-on" >
				</div>

				<div id="user-setup-basic-info-text" class="buttom-text">
					<p>基本信息</p>
				</div>

				<div id="user-setup-change-passwd-text" class="buttom-text">
					<p>修改密码</p>
				</div>

			</div>

			<div class="right-side">
				<div class="switch-board">
					<div class="smart-plug-bar">
						<div class="smart-plug-img">
							<img src="" alt="">
						</div>
						<div class="smart-plug-toggle">
							<img src="" alt="">
						</div>
						<div class="smart-plug-on hide">

						</div>
						<div class="smart-plug-off">

						</div>
					</div>
				</div>

				<div class="video">

				</div>
				<p>演示动画</p>
			</div>

			<div class="buttom">
				<div class="apply">
					<p>应用</p>
				</div>
				<div class="back">
					<p>返回</p>
				</div>
			</div>
		</div>

		<!-- 智能控制->情景控制-页面 -->
		<div class="scene-control-content hide">
			<div class="left-side">
				<div id="scene-control-left-side-buttom-one" class="left-side-buttom-one hide">

				</div>

				<div id="scene-control-left-side-buttom-one-on" class="left-side-buttom-one-on">

				</div>

				<div id="scene-control-left-side-buttom-two" class="left-side-buttom-two">

				</div>

				<div id="scene-control-left-sice-buttom-two-on" class="left-side-buttom-two-on hide">

				</div>

				<div class="buttom-text" id="scene-control-my-scene-text">
					<p>我的情景</p>
				</div>

				<div class="buttom-text" id="scene-control-exec-log-text">
					<p>执行记录</p>
				</div>
			</div>

			<div id="scene-control-my-scene" class="right-side">
				<div class="up">
					<div id="scene-control-back-home-mode" class="up-first">
						<img src="{{ url_for('static', filename='img/scene_control_back_home_mode.png') }}" alt="">
					</div>
					<div id="scene-control-dinner-mode" class="up-second">
						<img src="{{ url_for('static', filename='img/scene_control_dinner_mode.png') }}" alt="">
					</div>
					<div id="scene-control-leave-home-mode" class="up-third">
						<img src="{{ url_for('static', filename='img/scene_control_leave_home_mode.png') }}" alt="">
					</div>
				</div>

				<div class="down">
					<div id="scene-control-rain-mode" class="down-first">
						<img src="{{ url_for('static', filename='img/scene_control_rain_mode.png') }}" alt="">
					</div>
					<div id="scene-control-sleep-mode" class="down-second">
						<img src="{{ url_for('static', filename='img/scene_control_sleep_mode.png') }}" alt="">
					</div>
					<div id="scene-control-custom-mode" class="down-third">
						<img src="{{ url_for('static', filename='img/scene_control_custom_mode.png') }}" alt="">
					</div>
				</div>
			</div>

			<div id="scene-control-exec-log" class="right-side hide">
				<table class="device-manage-table">
					<tr>
						<th>设备名称</th>
						<th>执行动作</th>
					</tr>
					<tr>
						<td>插座</td>
						<td>开</td>
					</tr>
				</table>
			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="scene-control-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 管理入口 -> 家庭管理-页面 -->
		<div class="home-manage-content hide">
			<div class="left-side">
				<div id="home-manage-left-side-buttom-one" class="left-side-buttom-one hide">

				</div>

				<div id="home-manage-left-side-buttom-one-on" class="left-side-buttom-one-on">

				</div>

				<div id="home-manage-left-side-buttom-two" class="left-side-buttom-two">

				</div>

				<div id="home-manage-left-sice-buttom-two-on" class="left-side-buttom-two-on hide">

				</div>

				<div id="home-manage-left-side-buttom-three" class="left-side-buttom-three">

				</div>

				<div id="home-manage-left-sice-buttom-three-on" class="left-side-buttom-three-on hide">

				</div>

				<div class="buttom-text" id="home-manage-my-scene-text">
					<p>家庭信息</p>
				</div>

				<div class="buttom-text" id="home-manage-home-mamber-text">
					<p>家庭成员</p>
				</div>

				<div class="buttom-text" id="home-manage-home-list-text">
					<p>房间列表</p>
				</div>
			</div>

			<div id="home-manage-home-information" class="right-side hide">
				<div class="home-manage-home-name">
					<span class="home-manage-home-info-label">家庭名称:</span>
					<input id="home-manage-user-home-name" class="home-manage-home-info-input" type="text" name="home-manage-user-home-name" value="elewei的家">
				</div>
				<div class="home-manage-home-address">
					<span class="home-manage-home-info-label">家庭地址:</span>
					<input class="home-manage-home-info-input" type="text" name="home-manage-user-home-address" value="江苏省苏州市高新区">
				</div>
				<div class="home-manage-home-background">
					<span class="home-manage-home-info-label">家庭背景:</span>
					<img id="home-manage-home-background-img" src="{{ url_for('static', filename='img/background_entry.png') }}" alt="">
				</div>
			</div>

			<div id="home-manage-home-member" class="right-side">
				<div class="home-member-first">
					<img src="{{ url_for('static', filename='img/home_member_qingse.png') }}" alt="">
					<span class="home-member-text">阿毛</span>
				</div>
				<div class="home-member-add">
					<img src="{{ url_for('static', filename='img/home_member_add.png') }}" alt="">
				</div>
			</div>

			<div id="home-manage-home-room-list" class="right-side hide">
				<table class="home-room-list-table">
					<tr>
						<th>序号</th>
						<th>房间</th>
					</tr>
					<tr>
						<td>01</td>
						<td>主卧</td>
					</tr>
					<tr>
						<td>02</td>
						<td>次卧</td>
					</tr>
				</table>
			</div>

			<div id="scene-control-exec-log" class="right-side hide">
				<table class="device-manage-table">
					<tr>
						<th>设备名称</th>
						<th>执行动作</th>
					</tr>
					<tr>
						<td>插座</td>
						<td>开</td>
					</tr>
				</table>
			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="home-manage-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

		<!-- 管理入口 -> 自由组合-页面 -->
		<div class="free-group-content hide">
			<div class="left-side">
				<div id="scene-control-left-side-buttom-one" class="left-side-buttom-one hide">

				</div>

				<div id="scene-control-left-side-buttom-one-on" class="left-side-buttom-one-on">

				</div>

				<div id="scene-control-left-side-buttom-two" class="left-side-buttom-two">

				</div>

				<div id="scene-control-left-sice-buttom-two-on" class="left-side-buttom-two-on hide">

				</div>

				<div class="buttom-text" id="free-group-list-text">
					<p>组合列表</p>
				</div>

				<div class="buttom-text" id="free-group-add-text">
					<p>添加组合</p>
				</div>
			</div>

			<div id="free-group-list" class="right-side hide">
				<table class="device-manage-table">
					<tr>
						<th>组合名称</th>
						<th>条件</th>
						<th>执行动作</th>
					</tr>
					<tr>
						<td>心飞杨</td>
						<td>当温度低于15</td>
						<td>关闭窗户，打开智能插座1</td>
					</tr>
					<tr>
						<td>头口</td>
						<td>当PM2.5低于90</td>
						<td>打开窗户</td>
					</tr>
				</table>
			</div>

			<div id="free-group-add" class="right-side">
				<div class="free-group-name">

				</div>
				<div class="free-group-second-line">
					<div class="free-group-condition">
						<div class="scene-action-one">
							<img class="scene-action-one-img" src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
							<span class="scene-action-one-label">1</span>
							<table class="scene-manage-action-table">
								<tr>
									<td>
										<select>
											<option value="register-off-open-window-machine">开窗器</option>
											<option value="register-off-curtain">窗帘</option>
											<option value="register-off-touch-switch">触控开关</option>
											<option value="register-off-air-box">空气盒子</option>
											<option value="register-off-smart-plug">智能插座</option>
											<option value="register-off-dimming-lamp">调光灯</option>
										</select>
									</td>
									<td>
										<select>
											<option value="register-off-dinner-room">客厅</option>
											<option value="register-off-first-room">主卧</option>
											<option value="register-off-second-room">次卧</option>
											<option value="register-off-bath-room">卫生间</option>
											<option value="register-off-kitchen-room">厨房</option>
											<option value="register-off-other-room">其他房间</option>
										</select>
									</td>
									<td>
										<select>
											<option value="register-off-dinner-room">打开</option>
											<option value="register-off-first-room">关闭</option>
										</select>
									</td>
								</tr>
							</table>
						</div>
						<div class="scene-action-one">
							<img class="scene-action-one-img" src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
							<span class="scene-action-one-label">1</span>
							<table class="scene-manage-action-table">
								<tr>
									<td>
										<select>
											<option value="register-off-open-window-machine">开窗器</option>
											<option value="register-off-curtain">窗帘</option>
											<option value="register-off-touch-switch">触控开关</option>
											<option value="register-off-air-box">空气盒子</option>
											<option value="register-off-smart-plug">智能插座</option>
											<option value="register-off-dimming-lamp">调光灯</option>
										</select>
									</td>
									<td>
										<select>
											<option value="register-off-dinner-room">客厅</option>
											<option value="register-off-first-room">主卧</option>
											<option value="register-off-second-room">次卧</option>
											<option value="register-off-bath-room">卫生间</option>
											<option value="register-off-kitchen-room">厨房</option>
											<option value="register-off-other-room">其他房间</option>
										</select>
									</td>
									<td>
										<select>
											<option value="register-off-dinner-room">打开</option>
											<option value="register-off-first-room">关闭</option>
										</select>
									</td>
								</tr>
							</table>
						</div>
					</div>


					<div class="free-group-action">
						<div class="scene-action-one">
							<img class="scene-action-one-img" src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
							<span class="scene-action-one-label">1</span>
							<table class="scene-manage-action-table">
								<tr>
									<td>
										<select>
											<option value="register-off-open-window-machine">开窗器</option>
											<option value="register-off-curtain">窗帘</option>
											<option value="register-off-touch-switch">触控开关</option>
											<option value="register-off-air-box">空气盒子</option>
											<option value="register-off-smart-plug">智能插座</option>
											<option value="register-off-dimming-lamp">调光灯</option>
										</select>
									</td>
									<td>
										<select>
											<option value="register-off-dinner-room">客厅</option>
											<option value="register-off-first-room">主卧</option>
											<option value="register-off-second-room">次卧</option>
											<option value="register-off-bath-room">卫生间</option>
											<option value="register-off-kitchen-room">厨房</option>
											<option value="register-off-other-room">其他房间</option>
										</select>
									</td>
									<td>
										<select>
											<option value="register-off-dinner-room">打开</option>
											<option value="register-off-first-room">关闭</option>
										</select>
									</td>
								</tr>
							</table>
						</div>
						<div class="scene-action-one">
							<img class="scene-action-one-img" src="{{ url_for('static', filename='img/curtain.png') }}" alt="">
							<span class="scene-action-one-label">+</span>
							<table class="scene-manage-action-table">
								<tr>
									<td>
										<select>
											<option value="register-off-open-window-machine">开窗器</option>
											<option value="register-off-curtain">窗帘</option>
											<option value="register-off-touch-switch">触控开关</option>
											<option value="register-off-air-box">空气盒子</option>
											<option value="register-off-smart-plug">智能插座</option>
											<option value="register-off-dimming-lamp">调光灯</option>
										</select>
									</td>
									<td>
										<select>
											<option value="register-off-dinner-room">客厅</option>
											<option value="register-off-first-room">主卧</option>
											<option value="register-off-second-room">次卧</option>
											<option value="register-off-bath-room">卫生间</option>
											<option value="register-off-kitchen-room">厨房</option>
											<option value="register-off-other-room">其他房间</option>
										</select>
									</td>
									<td>
										<select>
											<option value="register-off-dinner-room">打开</option>
											<option value="register-off-first-room">关闭</option>
										</select>
									</td>
								</tr>
							</table>
						</div>

					</div>
				</div>

			</div>

			<div class="buttom">
				<div class="apply">
					<p>应&nbsp&nbsp&nbsp&nbsp用</p>
				</div>
				<div id="free-group-content-back" class="back">
					<p>返&nbsp&nbsp&nbsp&nbsp回</p>
				</div>
			</div>
		</div>

  </div>
</div>

{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chinatime.js') }}"></script>
	<script type=text/javascript>
  	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
{% endblock %}
